h2,
.visual-h2 {
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-h2;
}

h3,
.visual-h3 {
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-h3;
}

h4,
.visual-h4 {
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-h4;
}