.main {
  min-height: 100vh;
  display: flex;
}

.cards-container {
  display: flex;
  list-style: none;
  padding-left: 0;

  li:not(:last-of-type) {
    margin-right: 10px;
  }
}

.main-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .section-dealer {
    text-align: center;
  }

  .section-result {
    flex: 1;
  }

  .section-player {
    text-align: center;
  }
}

.players-panel {
  padding: 20px;
  background: lightgrey;
}